.form {
  margin: auto auto;
  max-width: 768px;
  padding: 10px;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 1.95px 2.6px;
  border-radius: 10px;
}

.heading {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
}

.input {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.dark {
  box-shadow: rgb(255 255 255 / 0.15) -1.05px 6.95px 1.95px 4.6px;
}

.label {
  padding: 10px;
}

.inputBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 2rem;
}

.button {
  width: 50%;
  padding: 10px 15px;
  margin-top: 10px;
  background: rgb(230, 181, 92);
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 16px;
  color: #222;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.button:first-child {
  background: gray;
}
.button:hover:first-child {
  background: rgb(181, 179, 179);
}

.button:hover {
  background: rgb(223, 169, 67);
}
